<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width = device-width, initial-scale = 1">
		
		<!-- Link to bootstrap -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		{{!-- Link to google font --}}
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		{{!--Link to style.css--}}
		<link rel="stylesheet" href="assets/style.css">
		
		<!-- Link to JQuery -->
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
		<script src="/assets/comments.js"></script>

		<title>Mongo News Scraper</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>