
<div class="row nav-container">
    <div id="home-nav-buttons" class="col-md-2 col-sm-3 col-xs-12">
        <a class="nav-refresh" href="/">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a class="nav-saved" href="/saved">
          <span class="glyphicon glyphicon-save">Saved</span>
        </a>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-12">
        <h1 class="header"> Welcome to your resource for feel-good news! </h1>
    </div>
</div>

<div class="row article-container">
    <div class="articles">
        <div class="col-md-12">
            <h3 class="articles-header"> Recent articles </h3>

            <ul style="list-style: none;">
                {{#each articles}}
                    {{#unless saved}}
                        <div class="article">
                            <li class="row">
                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="id" value="saved">
                                    <div class="col-md-10">
                                        <p> {{title}} </p>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="view-button" href="{{this.link}}">
                                            <span class="glyphicon glyphicon-link">View</span>
                                        </a>
                                        
                                        <button class="save btn-primary btn-sm" type="submit"> Save </button>
                                    </div>
                                </form>
                            </li>
                        </div>
                    {{/unless}}    
                {{/each}}
            </ul>
        </div>
    </div>

</div>