p {
    margin: 3px 0px 3px 0px !important;
}

.refresh {
    position: fixed;
    top: 10px;
    left: 15px;
    padding: 7px 10px 7px 10px;
    border-style: solid;
    border-radius: 10px;
}

.saved {
    position: fixed;
    top: 10px;
    left: 60px;
    padding: 7px 10px 7px 10px;
    border-style: solid;
    border-radius: 10px;
}

.glyphicon-save {
    font-weight: bolder !important;
}

.header {
    position: fixed;
    left: 145px;
    top: -8px;
    
}

.articles {
    display: inline-block;
    position: fixed;
    top: 70px;
}

.articles-header {
    position: relative;
    left: 40px;
    font-weight: bolder;
    border-width: 0px;
    border-bottom-width: 5px;
    border-style: solid;
}

.remove {
    width: 77px;
}

/* HOME PAGE */
.article {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    padding: 5px 0px;
}


/* SAVED ARTICLES PAGE */
/* =================== */

/* div containing each article pulled from db */
.savedArticles {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
}
/* Article title for each article pulled from db */
.article-title {
}
.buttons {
}
/* .remove-saved {
    display: inline;
}
.comment {
    float: right;
} */
/* div containing article comments and new comment input */
#comments {
    padding: 15px;
    background-color: lightgray;
    border-style: solid;
    border-width: 0px;
    border-top-width: 3px;
}
.form-group {
    margin: 0px;
}
/* Text label for input field where user enters name */
label[for=comment-user] {
    margin-right: 2px;  
}
/* Input field where user enters name */
#comment-user {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
/* Save comment button */
#commentSubmit {
    margin: 8px 0px 5px 0px;
}
/* Container for each comment */
.comment-container {
    margin: 3px 0px 3px 0px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: white;
}
/* Text specifying the user - contained in comment-container */
.user-text {
    float: right;
    font-style: italic;
    font-size: 12px;
}
/* Comment body text - contained in comment-container */
.body-text {
    clear: both;
}