:root {
    --color-1: lightsteelblue;
    --color-2: repeating-linear-gradient(to right, white 10%, lightgray 50%, white 80%);
    --color-3: #337ab7;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-1);
    font-family: 'Hoefler Text'; 
    /* overflow: hidden; */
}
.row {
    width: 100%;
    margin: 0px;
}
p {
    font-size: 16px;
    margin: 3px 0px 3px 0px !important;
    padding-top: 2px;
}
.nav-container {
    min-height: 70px;
    padding-top: 15px;
    color: var(--color-3);
    background: linear-gradient(to bottom, rgba(51,122,183,.55),white, lightgray, rgba(51,122,183,.55));
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgba(0,0,0,.55);
}
#home-nav-buttons {
    margin-top: 10px;
}
.refresh {
    /* position: relative;
    top: 20px;
    left: 10px; */
    padding: 7px 10px 7px 10px;
    border-style: solid;
    border-radius: 10px;
}

.saved {
    /* position: relative;
    top: 20px;;
    left: 15px; */
    margin-left: 5px;
    padding: 7px 10px 7px 10px;
    border-style: solid;
    border-radius: 10px;
}

.home {
    float: left;
    padding: 7px 10px 7px 10px;
    border-style: solid;
    border-radius: 10px;
}

.glyphicon-save {
    font-weight: bolder !important;
}

.header {
    margin: 0px;
    /* position: relative;
    left: 155px;
    top: -8px; */
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;    
    font-family: 'Hoefler Text';
    font-style: italic;
    font-weight: bold;
    width: 100%;
}
.article-container {
    background-color: var(--color-1);
}

.articles {
    background: var(--color-2);
    margin-left: 40px;
    margin-right: 40px;
    padding: 0px 20px 20px 20px;
    overflow: auto;
}
.articles-header {
    font-family: 'Hoefler Text';
    font-weight: bold;   
}
ul {
    padding: 0px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: var(--color-3);
}

.saved-header {
    margin: 0px;
    font-family: 'Hoefler Text';
    font-style: italic;
    font-weight: bold;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;    
}
.article {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-bottom-color: var(--color-3);    
    padding-top: 10px;
    background-color: white;
}
.view-button {
    border-width: 2px;
    border-style: outset;
    border-radius: 3px;
    padding: 6px 6px 7px 6px;
    margin-right: 3px;
}

a.view-button:hover {
    border-color: #204d74;
    background-color: gainsboro;
    text-decoration: none;
}
.remove {
    width: 71px;
    margin-bottom: 3px;
}


/* SAVED ARTICLES PAGE */
/* =================== */

/* div containing each article pulled from db */
.savedArticles {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
}
/* Article title for each article pulled from db */
/* .article-title {
} */
/* .buttons {
} */
/* .remove-saved {
    display: inline;
} */
.comment {
    margin-bottom: 10px;
}
/* div containing article comments and new comment input */
#comments {
    padding: 15px;
    background: var(--color-2);
    border-style: solid;
    border-width: 1px;
    border-top-width: 3px;
    border-color: var(--color-3);
}
.form-group {
    margin: 0px;
}
/* Text label for input field where user enters name */
label[for=comment-user] {
    margin-right: 2px;  
}
/* Input field where user enters name */
#comment-user {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
/* Save comment button */
#commentSubmit {
    margin: 8px 0px 5px 0px;
}
/* Container for each comment */
.comment-container {
    margin: 3px 0px 3px 0px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: white;
}
/* Text specifying the user - contained in comment-container */
.user-text {
    float: right;
    font-style: italic;
    font-size: 12px;
}
/* Comment body text - contained in comment-container */
.body-text {
    clear: both;
}